@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";
*{
    font-family: "Kedebideri", sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}
.no-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}